/* 여기에 스타일을 구현해 주세요 */
body {
  margin: 20px;
}
.avatars {
  width: 396px;
  height: 195px;
  padding: 10px;
}

.container {
  float: left;
  position: relative;
  width: 25%;
  padding: 10px;
  box-sizing: border-box;
}

img {
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

.container span {
  position: absolute;
  width: 16px;
  height: 16px;
  bottom: 10px;
  right: 15px;
  border-radius: 50%;
  border: 1px solid white;
}
.user_online {
  background-color: #4cfe88;
}

.user_offline {
  background-color: #dbdbdb;
}
